body {
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.tab {
  display: none;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.tab.active {
  display: block;
}

.tab h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.guide-img {
  max-width: 700px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.youtube-thumb {
  max-width: 480px;
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 30px;
}
